* {
    background-color: #2f3135;
    font-family: 'Rubik Moonrocks', cursive, Sans-serif;
    color: #D0E4E4;
    -webkit-text-stroke: 2px black;

}

html {
    position: relative;
}

.header {
    display: flex;
}

h1 {
    font-size: 90px;
    margin: 0 auto;
    padding: 40px;
}

.intro {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.intro-para {
    font-size: 50px;
    -webkit-text-stroke: 1px RGB(0, 0, 0);
    text-align: center;
}

.separation {
    height: 50px;
}

.choices {
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 50px;
    
}

button {
    font-size: 50px;
    padding: 5px 10px;
    -webkit-text-stroke: 1px RGB(0, 0, 0);
    background-color: #35383f;
}

.results {
    display: grid;
    font-size: 30px;
    grid-template-rows: 2(repeat, 1fr);
    -webkit-text-stroke: 0.4px;
}

.player {
    display: flex;
    flex-direction: row;
}