* {
    background-color: #2f3135;
    font-family: 'Rubik Moonrocks', cursive, Sans-serif;
    color: #D0E4E4;
    -webkit-text-stroke: 0.4px black;

}

html {
    position: relative;
}

.header {
    display: flex;
}

h1 {
    font-size: 90px;
    margin: 0 auto;
    padding: 40px;
}

.intro {
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.intro-para {
    font-size: 45px;
    text-align: center;
}

.separation {
    height: 10px;
}

.choices {
    display: grid;
    column-gap: 60px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 50px;
    
}

button {
    font-size: 50px;
    padding: 5px 10px;
    background-color: #232529;
}

.results {
    display: grid;
    font-size: 30px;
    grid-template-rows: 2(repeat, 1fr);
    margin: 20px 10px;

}

.player {
    display: flex;
    flex-direction: row;
}

.results {
    display: flex;
    margin: 5% 25%;

};

.games {
    flex: 50%;
}

.points {
    flex: 49%;
}
