html {
    background-color: #3d5a80;
    color: #caf0f8;
    font-family: 'Snowburst One', bold, sans-serif;
} 

#gameDiv {
    background-color: #98c1d9;
    display: flex;
    grid-template-columns: 1fr 3fr;
    width: 50em;
    height: 35em;
    margin: 0 auto;
}


h1, h2 {
    font-size: 100px;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}

#settingsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

#settingsDiv > * {
    align-self: center;
    justify-self: center;
    color: #3d5a80;
    font-weight: 600;
}

#gridDiv {
    padding: 20px;
    height: 500px;
    width: 500px;
    display: grid;
    align-self: center;
    background-color: white;
}

button {
    background-color: #caf0f8;
    border-radius: 15%;

}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    flex-direction: column;
}
a, #copyright {
    text-decoration: none;
    margin: 0 auto;
    color: #caf0f8;
    font-size: 10px;
}

img {
    max-height: 200px;
    margin-left: 10px;
}
